.watch{
    width: 520px;
    height: 520px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 400px;
    position: absolute;
    bottom: 85px; /* Положение от нижнего края */
    right: 400px;/* Положение от правого края */
}

.center{
    width: 20px;
    height: 22px;
    background-color: #020953;
    border: 2px solid black;
    border-radius: 100px;
    position: absolute;
    bottom: 290px; /* Положение от нижнего края */
    right: 225px;/* Положение от правого края */
}

.minutes, .hours, .seconds {
    border: 2px solid black;
    transition: all 1s;
    border-radius: 10px;
    color: yellow;
    position: absolute;
    top: 50%; /* Положение от вернего края именно родителя*/
    left: 50%;/* Положение от левого края  именно родителя*/
    transform-origin: 0 0;
}

.hours{
    width: 190px;
    height: 22px;
    background-color: #0d86ff;
}

.minutes{
    width: 290px;
    height: 16px;
    background-color: #122fff;
}

.seconds{
    width: 340px;
    height: 6px;
    background-color: #040e88;
}